<div class="clasificator">
  <div class="header">
    <span>Clasificador de Lenguaje Natural</span>
  </div>
  <div class="body">
    <div class="input-zone">
      <input type="text" placeholder="Introduce un comentario" (change)="modelChanged($event.target.value)"
        (keyup.enter)="analyze()" />
        <img src="../assets/search.png" (click)="analyze()" />
      </div>
      @if (result === true) {
        <div class="result">
          @if (positives > negatives) {
            <span class="positive-result">
              ¡Gracias por ese comentario tan positivo!
            </span>
          }
          @if (positives < negatives) {
            <span class="negative-result">
              Creo que tu comentario no es de lo más apropiado.
            </span>
          }
          @if (positives === negatives) {
            <span class="neutral-result">
              Tu comentario no es relevante para mí
            </span>
          }
        </div>
      }
      @if (result === true) {
        <div class="details">
          <div class="positives">
            <span>Coincidencia de palabras positivas: {{positives}}</span>
          </div>
          <div class="negatives">
            <span>Coincidencia de palabras negativas: {{negatives}}</span>
          </div>
        </div>
      }
    </div>
  </div>